* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ffff;
  display:flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

body a {
  color:#800040;
}

/*style login page mobile-------------------------------------------------------------------------*/



/*style navbar mobile dropdown----------------------------------------------------------------*/
.navbar {
  font-size: 16px;
  position: relative;
  /* position: fixed; */
  width: inherit;
  background-color: #272727;
  padding-bottom: 10px;
  }

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-link, .logo {
  text-decoration: none;
  color: white;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-weight: 300;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
          }

  .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: white;
  font-size: 24px;
  }

  .active {
  display: block;
}/*style navbar mobile------------------------------------------------------------------------------*/



/*style container mobile------------------------------------------------------------------------------*/
.container {
 margin: 0px;
 width: 100%;
 height: 100vh;
}/*style container mobile end------------------------------------------------------------------------------*/




/*style gallery mobile*/
  .homepage {
  color: black;
 }

 .homepage h1 {
   font-size: 30px;
   text-align: center;
   margin-bottom: 0.5em;
  }

.gallery-page {
   display: flex;
   flex-direction: column;
   align-items: center;
   }

  .gallery-pics {
    width: 350px;
    height: 350px;
    }

/*style upload_photo*/


    .share-photos-page {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      .share-photos {
        display: flex;
        flex-direction: column;
      }

      .share-photos-page h1 {
        text-transform: uppercase;
      }

      .custom-file-upload {
      padding:0.35em 1.2em;
      /* width: 200px;
      height: 44px; */
      font-size: 0.8em;
      border:  0.1em solid #272727;
      border-radius: 2em;
      color:#272727;
      background-color: #FFFFFF;
      text-transform: uppercase;
    }

    #uploadFile {
      text-align: center;
      height: 44px;
      width: 100px;
      background-color: white;
      color: black;
      border: none;
    }

    .share-photos input[type="text"] {
      border: 0.1em solid #272727;
    margin-top: 1%;
    width: 270px;
    height: 44px;
    }

    .upload-photo {
      margin: 5%;
      padding:0.35em 1.2em;
      width: 200px;
      height: 44px;
      border-radius: 2em;
      border:  0.1em solid #272727;
      color: #FFFFFF;
      background-color: #272727;
      font-size: 1em;
      text-transform: uppercase;
      align-self: center;
    }

  .top-gallery-page {
   display: flex;
   flex-direction: column;
   align-items: center;
       }

.image-names a {
  display: flex;
}


 /* style my page mobile + some styling like structur and button userpage*/

 .my-page {
   color: black;
   }

   .top-mypage {
     display: flex;
     flex-direction: column;
     align-items: center;

   }

   .bio {
     text-transform: capitalize;
     text-align: center;
   }


 .profile-pic-mypage {
   height: 6em;
   width: 6em;
   border-radius: 50%;
   margin-right: 2%;
   margin-left: 2%;
   border: 3px #272727 solid;
   }

.avatar {
  position: relative;
  width: 120px;
}

.add-button {
   height: 2em;
   width: 2em;
   border-radius: 50%;
   position: absolute;
   color: white;
   background-color:  #272727;
   bottom: 1%;
   right: 1%;
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   font-size: 16px;
   border: none;
   cursor: pointer;
   text-align: center;
}

 .my-page input {
   width: 100px;
 }

 .profile-pic-small {
   height: 3em;
   width: 3em;
   border-radius: 50%;
   margin-top: 0px;
 }

 .gallery-mypage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
 }

.image-names {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  }

.my-gallery-pics {
  width: 100px;
  height: 100px;
}

.image-names p {
  align-self: center;
  margin-left: 0.5em;
  }

  .like-post {
    display: flex;
    flex-direction: row;
  }

  .like {
    background-color: white;
    border: none;
  }


 .delete-post-button, .save-button, .upload-profile-pic {
   margin: 2%;
   width: 100px;
   height: 44px;
   border-radius: 4px;
   border: none;
   color: white;
   background-color:  #272727;
 }

 /*style change avatar page mobile*/
.avatar-page {
  background-color: white;
}


.upload-avatar-wrapper {
  width: 70%;
  height: 70%;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;

  }


 .upload-avatar-wrapper input[type=file] {
   opacity: 0;
   position: absolute;
   width: 100px;
   height: 100px;
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 }

 .upload-avatar-button {
   border: none;
   color: black;
   background-color: white;
   padding: 8px 20px;
  border-radius: 4px;
  width: 100px;
  height: 100px;
  font-size: 16px;
  border: 1.5px dashed black;
  }


/*style accountsettings*/

.account-settings {
width: 70%;
height: 70%;
margin: auto;
background-color: white;
}

.account-settings a {
  color: black;
}

.account-settings li {
  list-style: none;
  text-align: left;
  margin: 25px auto;
  }

.account-settings h1 {
  padding-top: 2em;
  color: black;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}


.intro-page {
  display: flex;
  flex-direction: column;
  height: 30vh;
  background-color: #ffff;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

.profile-pic-intro {
  height: 8em;
  width: 8em;
  border-radius: 50%;
  margin-right: 2%;
  margin-left: 2%;
  border: 3px #272727 solid;
}
 .intro-page p {
   margin-top: 5%;
 }

/*style footer*/
.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9%;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  color: #ffff;
  font-weight: 100;
  padding: 0 5% 0 5%;
  }

  .footer li {
    list-style-type: none;
  }



/*STYLE TO IPAD*/
@media screen and (min-width: 600px) {
* {
  box-sizing: border-box;
  margin: 0px;
}

/*style gallery page ipad*/
.gallery-pics {
  width: 400px;
  height: 400px;
}


/*style intro page ipad*/

.intro-page {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  height: 30vh;
  background-color: #ffff;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

}

/*STYLE TO DESKTOP*/
@media screen and (min-width: 800px) {
/* * {
  box-sizing: border-box;
  margin: 0px;
} */

/*style navbar desktop*/
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 80px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      width: 70%;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
      }

  .nav-link {
      margin-left: 60px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-link:hover {
      color: rgba(255, 255, 255, 1);
  }


/*style container desktop*/
  .container {
    margin: 0;
    width: 100%;
    height: 560px;
  }



    /*style my page desktop*/
  .gallery-mypage {
   display: flex;
   flex-direction: row;
  justify-content: space-around;
  }

  /*style gallery page desktop*/
  .gallery-pics {
    width: 500px;
    height: 500px;
  }

  /*style footer */
  .footer {
  display: none;
}

}
