
 /* style my page mobile + some styling like structur and button userpage*/
 .top-mypage {
   margin-top: 2%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .my-page h1 {
   font-size: 2em;
   text-align: center;
   text-transform: uppercase;
   padding-bottom: 2%;
  }

.bio h3 {
   margin-top: 5%;
}

.bio {
  text-align: center;
 }

 .avatar {
   position: relative;
   width: 120px;
 }

.profile-pic-mypage {
  height: 8em;
   width: 8em;
   border-radius: 50%;
   margin-right: 2%;
   margin-left: 2%;
   border: 2.5px #000000 solid;
  }

.add-button {
   height: 2em;
   width: 2em;
   border-radius: 50%;
   position: absolute;
   color: #ffffff;
   background-color: #000000;
   bottom: -10%;
   right: -10%;
   z-index: 1;
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   font-size: 16px;
   border: none;
   cursor: pointer;
   text-align: center;
}

 .gallery-mypage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
 }

 .my-gallery-pics {
   width: 100px;
   height: 100px;
 }

 /*style edit-post page*/

 .edit-post-page {
   width: 100%;
   margin-top: 5%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }

 .one-post {
   width: 300px;
   height: 300px;
 }

 .edit-post-page h1 {
   font-size: 2em;
   text-transform: uppercase;
   padding-bottom: 2%;
 }
 .edit-post-page input {
   width: 300px;
   height: 30px;
    border: 0.1em solid #000000;
 }

 .delete-post-button, .save-button {
   margin-bottom: 3%;
   margin-top: 3%;
   padding:0.35em 1.2em;
   width: 200px;
   height: 44px;
   border-radius: 2em;
   border:  0.1em solid #000000;
   color: #FFFFFF;
   background-color: #000000;
   font-size: 1em;
   }

   .button-div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
   }

   @media screen and (min-width: 600px) {

     .my-gallery-pics {
       width: 150px;
       height: 150px;
     }

   }

@media screen and (min-width: 800px) {
/*style my page desktop*/
.gallery-mypage {
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.my-gallery-pics {
  width: 250px;
  height: 250px;
}
/*style edit-post desktop*/

 .one-post {
   width: 400px;
   height: 400px;
 }

 .edit-post-page h1 {
   font-size: 2em;
   text-transform: uppercase;
   padding-bottom: 2%;
 }
 .edit-post-page input {
   width: 420px;
   height: 30px;
    border: 0.1em solid #000000;
 }

.button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;

}


}
