
 /* style my page mobile + some styling like structur and button userpage*/

 .my-page {

   }

   .top-mypage {
     margin-top: 2%;
     display: flex;
     flex-direction: column;
     align-items: center;

   }

   .bio h3 {
     margin-top: 5%;
    }

   .bio {
     text-align: center;
   }

   .avatar {
     position: relative;
     width: 120px;
   }

 .profile-pic-mypage {
   height: 8em;
   width: 8em;
   border-radius: 50%;
   margin-right: 2%;
   margin-left: 2%;
   border: 2.5px #272727 solid;
  }

.add-button {
   height: 2em;
   width: 2em;
   border-radius: 50%;
   position: absolute;
   color: white;
   background-color:  #272727;
   bottom: -10%;
   right: -10%;
   z-index: 1;
   transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   font-size: 16px;
   border: none;
   cursor: pointer;
   text-align: center;
}

 .my-page input {
   width: 150px;
   border: 0.1em solid #000000;
 }

 .gallery-mypage {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
 }

 .my-gallery-pics {
   width: 150px;
   height: 150px;
 }

 .delete-post-button, .save-button {
   margin: 3%;
   padding:0.35em 1.2em;
   width: 100px;
   height: 33px;
   border-radius: 2em;
   border:  0.1em solid #000000;
   color: #FFFFFF;
   background-color: #000000;
   font-size: 0.7em;
  }



@media screen and (min-width: 800px) {
/*style my page desktop*/
.gallery-mypage {
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.my-gallery-pics {
  width: 250px;
  height: 250px;

}

.my-page input {
  width: 250px;
  height: 40px;
  border: 0.1em solid #000000;
}

.button-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.delete-post-button, .save-button {
  margin: 5% 1% 2% 0%;
  padding:0.35em 1.2em;
  width: 120px;
  height: 44px;
  border-radius: 2em;
  border:  0.1em solid #000000;
  color: #FFFFFF;
  background-color: #000000;
  font-size: 0.7em;
}


}
