/*style create account mobile------------------------------------------------ */
.create-account {
  width: 100%;
  height: 70vh;
  margin: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.create-account h1 {
  font-size: 2em;
  text-transform: uppercase;
  padding-bottom: 10%;
}


.create-account input[type="text"],
.create-account input[type="password"],
.create-account input[type="email"] {
  border: 0.1em solid #272727;
  margin-top: 1%;
  margin-bottom: 4%;
  width: 270px;
  height: 44px;
}

.sign-up {
  margin: 5%;
  padding:0.35em 1.2em;
  width: 200px;
  height: 44px;
  border-radius: 2em;
  border:  0.1em solid #272727;
  color: #FFFFFF;
  background-color: #272727;
  font-size: 1em;
  align-self: center;
}
/*style signup page end----------------------------------------*/

/*STYLE TO DESKTOP*/
@media screen and (min-width: 800px) {
/*style create account dekstop------------------------------------------------ */
  .create-account {
    width: 100%;
    height: 100vh;
  }

  .create-account h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    padding-bottom: 5%;
    }
  }
