/*style upload_photo*/


    .share-photos-page {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      .share-photos {
        display: flex;
        flex-direction: column;
      }

      .share-photos-page h1 {
        font-size: 1.3em;
        text-transform: uppercase;
        padding-bottom: 2%;
        margin-top: 10%;
      }

      .small {
        color: #545454;
        font-size: 0.7em;
      }

      .custom-file-upload {
      padding:0.35em 1.2em;
      font-size: 1em;
      width: 160px;
      height: 35px;
      text-align: center;
      border:  0.1em solid #000000;
      border-radius: 2em;
      color: #000000;
      background-color: #FFFFFF;
      text-transform: uppercase;
      align-self: center;
    }

    #uploadFile {
      text-align: center;
      height: 35px;
      width: 250px;
      background-color: white;
      color: #545454;
      border: none;
      font-size: 0.7em;
    }

    .share-photos input[type="text"] {
      border: 0.1em solid #000000;
    margin-top: 1%;
    width: 270px;
    height: 44px;
    }

    .upload-file-style {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
    }

    .upload-photo, .upload-profile-pic {
      margin: 5%;
      padding:0.35em 1.2em;
      width: 200px;
      height: 44px;
      border-radius: 2em;
      border:  0.1em solid #000000;
      color: #FFFFFF;
      background-color: #000000;
      font-size: 1em;
      align-self: center;
    }


    *STYLE TO DESKTOP*/
    @media screen and (min-width: 800px) {

      .share-photos-page h1 {
        font-size: 2em;
        }

    }
